html,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: \\5FAE\8F6F\96C5\9ED1, Microsoft Yahei, sans-serif
}

.container {
    margin: 0 auto;
    width: 80%;
    padding: 0 0.42rem;
}

.banner-bg {
    width: 100%;
    height: 6.72rem;
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/banner-bg.jpg') no-repeat;
    background-size: contain;
    text-align: center;
    background-position: center;

}

.banner-bg .title {
    margin: 0 auto;
    height: 3.66rem;
    max-width: 320px;
    background: url(https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/title.png) no-repeat;
    background-position: right;
    background-size: 3.96rem;
    padding-top: 0.78rem;
}

.banner-bg .activity-date {
    margin: 0 auto;
    margin-top: 0.34rem;
    width: 4.95rem;
    height: 0.33rem;
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/activity-date.png') no-repeat;
    background-size: contain;
}

.banner-bg .times {
    margin: 0 auto;
    margin-top: 0.82rem;
    width: 4.28rem;
    height: 0.41rem;
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/number-of-times.png') no-repeat;
    background-size: contain;
}

.game-screen {
    margin: 0 auto;
    width: 100%;
    height: 5.23rem;
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/game-screen.jpg') no-repeat;
    background-size: contain;
    text-align: center;
    background-position: center;
}

.bg-color {
    background: rgb(5,152,50);
    background: -moz-linear-gradient(top,  rgba(5,152,50,1) 0%, rgba(3,73,48,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(5,152,50,1) 0%,rgba(3,73,48,1) 100%);
    background: linear-gradient(to bottom,  rgba(5,152,50,1) 0%,rgba(3,73,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#059832', endColorstr='#034930',GradientType=0 );
}

.game-skills {
    padding-top: 0.49rem;
    font-size: 0.27rem;
    color: #ffffff;
}

.game-skills .container {
    
    padding: 0 0.55rem;
}

.game-skills ul {
    padding-bottom: 0.24rem
}

.game-skills ul li {
    display: flex;
    margin-bottom: 0.28rem;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

.btn-wrap {
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 0.1rem;
    display: block;
    width: 2.8rem;
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.32rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0.15rem;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

#btn-play {
    background-color: #ff0000;
    color: #ffffff;
}

#btn-award {
    background-color: #ffcc00;
    color: #0a742c;
}

#btn-ranking {
    margin: 0 auto;
    background-color: #ffcc00;
    color: #0a742c;
    display: none;
}

.rule {
    padding-top: 1.04rem;
    padding-bottom: 0.87rem;
    font-size: 0.27rem;
    color: #ffffff;
}

.rule-txt {
    width: 4.87rem;
    margin-left: 0.11rem;
}

.rule-title {
    margin: 0 auto;
    margin-bottom: 0.4rem;
    width: 1.47rem;
    height: 0.41rem;
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/rule-title.png') no-repeat;
    background-size: contain;
}

.rule ul li {
    display: flex;
    margin-bottom: 0.28rem;
}

.rule ol {
    padding-left: 0;
}

.rule ol li {
    padding-bottom: 0.4rem;
    list-style-type: decimal;
    margin-left: 1em;
}

.congratulation-wrap {
    padding-top: 0.32rem;
}

.congratulation-texts {
    width: 0.96rem;
    height: 0.94rem;
}

.congratulation-text-1 {
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/congratulation-text-1.png') no-repeat;
    background-size: cover;
    text-align: center;
}

.congratulation-text-2 {
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/congratulation-text-2.png') no-repeat;
    background-size: cover;
    text-align: center;
}
.congratulation-text-3 {
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/congratulation-text-3.png') no-repeat;
    background-size: cover;
    text-align: center;
}
.congratulation-text-4 {
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/congratulation-text-4.png') no-repeat;
    background-size: cover;
    text-align: center;
}

/* 跳窗 START */

#popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
    font-size: 0.26rem;
    text-align: center;
    z-index: 10;
    display: none;
}

#popup-wrapper .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: #d6402a;
    width: 5.45rem;
    text-align: center;
    overflow: scroll;
    display: none;
}

#popup-wrapper .popup-content.max-height {
    max-height: 80%;
}

#popup-wrapper .popup-content#game {
    transform: none;
}

#popup-wrapper .inner {
    padding: 0.5rem 0;
    border: 1px solid #ffcc00;
    margin: 0.25rem 0.3rem;
    width: auto;
}

#popup-wrapper .inner.list-section {
    padding: 0.2rem 0.3rem;
}

#popup-wrapper .inner.no-border {
    border: none;
}

#popup-wrapper .title {
    margin: 0 auto 0.62rem;
}

#popup-wrapper .inner-items .title {
    margin: 0 auto 0.27rem;
    font-style: 0.27rem;;
}

#popup-wrapper .description {
    margin-bottom: 0.5rem;
}

#popup-wrapper .btn {
    margin: 0 auto;
    background-color: #ffcc00;
    color: #d7402a;
}

#go-to-app-section .title {
    width: 3.51rem;
    height: 0.49rem;
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/title-gotoapp.png') no-repeat;
    background-size: contain;
}

#notice-section .title {
    width: 2.25rem;
    height: 0.48rem;
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/title-notice.png') no-repeat;
    background-size: contain;
}

#login-section .title {
    width: 3.19rem;
    height: 0.49rem;
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/title-login.png') no-repeat;
    background-size: contain;
}

#highestscore-section .title {
    width: 2.74rem;
    height: 0.49rem;
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/title-highestscore.png') no-repeat;
    background-size: contain;
}

#ranking-section .title {
    font-size: 0.38rem;
    color: #ffcc00;
}

#award-section .title {
    width: 1.78rem;
    height: 0.49rem;
    background: url('https://sc.tfejy.com/source/www/zt/lp-img/mobile/zuqiu/title-award.png') no-repeat;
    background-size: contain;
    
}
.list-section ul li {
    padding: 0.1rem 0.4rem;
    display: flex;
    justify-content: space-between;
}

.list-section ul li:nth-child(odd) {
    background-color: #c22d13;
}

.txt-27 {
    font-size: 0.27rem;
}

.txt-40 {
    font-size: 0.4rem;
}

.color-yellow {
    color: #ffcc00;
}

.no-border {
    border: none;
}

/* 跳窗 END */

#confirm-section .btn {
    margin: 0 0.05rem;
    width: 1.4rem;
    display: inline-block;
}
